[Unit]
Description=Drone
After=multi-user.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/go/src/drone-go
ExecStart=/home/pi/go/src/drone-go/drone run-as-service > /dev/null
Restart=no
StandardError=null
StandardOutput=null
SyslogIdentifier=drone_service
KillMode=process
TimeoutSec=infinity

[Install]
Alias=drone
WantedBy=multi-user.target