[Unit]
Description=Remote Control

[Service]
Type=simple
User=pi
Group=pi

WorkingDirectory=/home/pi/go/src/drone-go
ExecStart=/usr/local/go/bin/go run ./cmd/remote-control > /dev/null

Restart=always
RestartSec=10s

StandardError=syslog
StandardOutput=null
SyslogIdentifier=drone_remote_control_service

Wants=network.target
After=syslog.target network-online.target

KillMode=process

[Install]
WantedBy=muti-user.target



