[Unit]
Description=Drone
After=systemd-user-sessions.service plymouth-quit-wait.service
After=rc-local.service

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/go/src/drone-go
ExecStart=/usr/local/go/bin/go run ./cmd/drone > /dev/null
Restart=no
StandardError=null
StandardOutput=null
SyslogIdentifier=drone_service
KillMode=mixed

[Install]
Alias=drone
