[Unit]
Description=Remote Control
After=multi-user.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/go/src/drone-go
ExecStart=/home/pi/go/src/drone-go/remote run-as-service > /dev/null
Restart=no
StandardError=null
StandardOutput=null
SyslogIdentifier=remote_service
KillMode=process
TimeoutSec=infinity

[Install]
Alias=drone-remote
WantedBy=multi-user.target