[Unit]
Description=Remote Control

[Service]
Type=simple
Restart=always
RestartSec=5s
WorkingDirectory=/home/pi/go/src/drone-go
ExecStart=/usr/local/go/bin/go run /home/pi/go/src/drone-go/cmd/remote-control > /dev/null
User=pi